[submodule "Team-71"]
	path = Team-71
	url = https://github.com/neelshah2409/api_fest.git
[submodule "[Top 10] Team-51"]
	path = [Top 10] Team-51
	url = https://github.com/aniketk13/API-Fest.git
[submodule "[Top 10] Team-84"]
	path = [Top 10] Team-84
	url = https://github.com/surajm-333/Postman-API-fest-2022.git
[submodule "[Top 10] Team-4"]
	path = [Top 10] Team-4
	url = https://github.com/rohan-kulkarni-25/recipebook.git
[submodule "[Top 10] Team-1"]
	path = [Top 10] Team-1
	url = https://github.com/japsimrans13/chatpilot.git
[submodule "[Top 10] Team-44"]
	path = Team-44
	url = https://github.com/SatabrataPaul-GitAc/ManageX.git
[submodule "Team-86"]
	path = Team-86
	url = https://github.com/raghavdhingra/Postman-Team-86.git
[submodule "Team-105"]
	path = Team-105
	url = https://github.com/gaonkarsahil/ApiFest2022Team105.git
[submodule "Team-15"]
	path = Team-15
	url = https://github.com/SooditK/url-shortner-backend.git
[submodule "Team-94"]
	path = Team-94
	url = https://github.com/LondheShubham153/falcon-nft.git
[submodule "[Top 10] Team-43"]
	path = [Top 10] Team-43
	url = https://github.com/sumana2001/200OK-frontend.git
[submodule "[Top 10] Team-65"]
	path = [Top 10] Team-65
	url = https://github.com/sumana2001/200OK-frontend.git
[submodule "Team-55"]
	path = Team-55
	url = https://github.com/mr-palindrome/API-Fest-2K22.git
[submodule "Team-60"]
	path = Team-60
	url = https://github.com/harshmathurx/api-fest.git
[submodule "Team-20"]
	path = Team-20
	url = https://github.com/FidalMathew/API-fest-project.git
[submodule "Team-75"]
	path = Team-75
	url = https://github.com/anushbhatia/team_bits_n_bytes.git
[submodule "[Top 10] Team-52"]
	path = [Top 10] Team-52
	url = https://github.com/soham117/API-Fest-Team-Fafda-Jalebi.git
[submodule "Team-34"]
	path = Team-34
	url = https://github.com/Postman-API-Fest-2022/team-34-student-management.git
[submodule "[Top 10] Team-24"]
	path = [Top 10] Team-24
	url = https://github.com/Pradumnasaraf/Postman-API-Fest-22.git
[submodule "Team-16"]
	path = Team-16
	url = https://github.com/ST1LLWATER/Github-Profile-Card-Server.git
[submodule "[Top 10] Team-42"]
	path = [Top 10] Team-42
	url = https://github.com/SuryaSekhar14/API-Fest-22-Team-42.git
[submodule "Team-29"]
	path = Team-29
	url = https://github.com/manisha-27/Soup-Monsters.git
[submodule "Team-61"]
	path = Team-61
	url = https://github.com/swapnilsparsh/API-Fest-22.git
[submodule "Team-50"]
	path = Team-50
	url = https://github.com/Abhinav-974/Team-50-API-Fest-2022.git
[submodule "Team-2"]
	path = Team-2
	url = https://github.com/japsimrans13/all-in-one-news.git
